{{ define "title" }}Add New Repository{{ end }}

{{ define "body" }}admin-repository-add{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="/admin/repository/add" method="POST">
            <fieldset>
                <h1>Add a new repository</h1>
                {{ if .error }}
                    <div class="alert alert-danger">
                        {{ .error }}
                    </div>
                {{ end }}

                <div class="form-group">
                    <label for="name">Name for this repository</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Repository name">
                </div>

                <div class="form-group">
                    <label for="url">URL for this repository</label>
                    <input type="text" class="form-control" id="url" name="url" placeholder="Repository URL">
                </div>

                <div class="form-group">
                    <label for="access_key">AccessKey - required for endpoint</label>
                    <input type="text" class="form-control" id="access_key" name="access_key" placeholder="Enter access key">
                </div>

                <div class="form-group">
                    <label for="close_pr">Close pull requests if builds fail</label>
                    <input type="checkbox" class="form-control" id="close_pr" name="close_pr">
                </div>

                <div class="form-group">
                    <label for="status_pr">Update status of commits with build results</label>
                    <input type="checkbox" class="form-control" id="status_pr" name="status_pr">
                </div>

                <div class="form-group">
                    <label for="comment_pr">Add build results as comment to pull request</label>
                    <input type="checkbox" class="form-control" id="comment_pr" name="comment_pr">
                </div>

                <button class="btn btn-info">Add</button>
            </fieldset>
        </form>
    </div>
</div>
{{ end }}

{{ define "js" }}{{ end }}

{{ define "css" }}{{ end }}
