<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{template "title" .}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="/static/css/base.css">
        {{template "css" .}}
    </head>
    <body id="{{template "body" .}}">
        {{template "top" .}}

        <div class="container-fluid">
            {{template "content" .}}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {{template "js" .}}
    </body>
</html>
