<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{template "title" .}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="/static/css/base.css">
        {{template "css" .}}
    </head>
    <body id="{{template "body" .}}">
        {{ if .user }}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/builds">
                        <!--<img alt="Brand" src="...">-->
                        LeeroyCI
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="user-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ .user.FirstName }} <span class="caret"></span></a>
                            
                            <ul class="dropdown-menu" role="menu">
                                {{ if .user.Admin }}
                                    <li><a href="#">Leeroy Configuration</a>
                                    <li><a href="#">Mailserver Configuration</a>
                                    <li><a href="#">Repository Configuration</a>
                                    <li><a href="#">Notification Configuration</a>
                                    <li class="divider"></li>
                                {{ end }}
                                <li><a href="/user/settings">User Settings</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {{ end }}

        <div class="container-fluid">
            {{template "content" .}}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {{template "js" .}}
    </body>
</html>
