{{ define "title" }}Builds{{ end }}

{{ define "body" }}all-builds{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-md-12">
        <ul class="build-list">
        {{ if .jobs }}
            {{ range .jobs }}
                <li class="build-row build-success">
                    <span class="job-info">{{ .Repository.Name }} <strong>{{ .Branch }}</strong></span>

                    <span class="tasks">
                        {{ range .CommandLogs }}
                            <span class="label {{ if .Passed }}label-success{{ else }}label-danger{{ end }}">{{ .Name }} asfasd</span>
                        {{ end }}
                    </span>

                    <span class="job-details">
                        <span class="label label-primary">
                            {{ .Name }} &lt;{{ .Email }}&gt;
                        </span>
                        <span class="label label-default">
                            {{ .Commit }}
                        </span>

                        <span class="label label-default">
                            {{ .CreatedAt }}
                        </span>
                    </span>
                </li>
            {{ end }}

            <li>
                {{ if .first_page }}
                    <a href="/?offset={{ .previous_offset }}" class="btn btn-info">Previous</a>
                {{ end }}

                {{ if gt .next_offset -1 }}
                    <a href="/?offset={{ .next_offset }}" class="btn btn-info pull-right">Next</a>
                {{ end }}
            </li>
        </ul>
    {{ else }}
        <div class="alert alert-info">
            No jobs, give me something to do!
        </div>
    {{ end }}
    </div>
</div>
{{ end }}

{{ define "js" }}{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/builds.css">
{{ end }}
