{{ define "title" }}Edit Command{{ end }}

{{ define "body" }}admin-command-edit{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="/admin/repository/{{ .repository.ID }}/command/{{ .command.ID }}" method="POST">
            <fieldset>
                <h1>
                    Edit command
                    <a href="/admin/repository/{{ .repository.ID }}" class="btn btn-default pull-right">Back</a>
                </h1>
                {{ if .error }}
                    <div class="alert alert-danger">
                        {{ .error }}
                    </div>
                {{ end }}

                {{ if .message }}
                    <div class="alert alert-success">
                        {{ .message }}
                    </div>
                {{ end }}

                <div class="form-group">
                    <label for="kind">Select kind</label>
                    <select name="kind">
                        {{ range .kinds }}
                            <option value="{{ . }}" {{ if eq . $.command.Kind}}selected{{ end }} >{{ . }}</option>
                        {{ end }}
                    </select>
                </div>

                <div class="form-group">
                    <label for="name">Name - to identify the command</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ .command.Name }}">
                </div>

                <div class="form-group">
                    <label for="branch">Branch - if this command should only run for a specific branch</label>
                    <input type="text" class="form-control" id="branch" name="branch" placeholder="Branch" value="{{ .command.Branch }}">
                </div>

                <div class="form-group">
                    <label for="execute">Execute - path to script to run</label>
                    <input type="text" class="form-control" id="execute" name="execute" placeholder="Execute" value="{{ .command.Execute }}">
                </div>

                <button class="btn btn-info">Update Command</button>
                <a href="/admin/repository/{{ .repository.ID }}/command/delete/{{ .command.ID }}" class="btn btn-danger pull-right">Delete Command</a>
            </fieldset>
        </form>
    </div>
</div>
{{ end }}

{{ define "js" }}{{ end }}

{{ define "css" }}{{ end }}
