{{ define "title" }}All Users{{ end }}

{{ define "body" }}admin-user-list{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Users <a href="/admin/user/add" class="btn btn-primary pull-right">Add User</a></h1>
        <ul>
            {{ range .users }}
                <li><a href="/admin/user/{{ .ID }}">{{ .FirstName }} {{ .LastName }}</a>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}

{{ define "js" }}{{ end }}

{{ define "css" }}{{ end }}
